<div class="col-xs-12">

    <!-- Tabs navs -->
    <!--  <div class="category-bar">
            <ul class="nav nav-tabs mb-3 nav-tabs-dropdown" id="ex1" role="tablist">
                <li class="nav-item active" role="presentation">
                    <a class="nav-link" id="ex1-tab-1" data-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Fashion Campaign</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex1-tab-2" data-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Campaign 2</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex1-tab-3" data-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Campaign 3</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex1-tab-4" data-toggle="tab" href="#ex1-tabs-4" role="tab" aria-controls="ex1-tabs-4" aria-selected="false">Campaign 4</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex1-tab-5" data-toggle="tab" href="#ex1-tabs-5" role="tab" aria-controls="ex1-tabs-5" aria-selected="false">Campaign 5</a>
                </li>
            </ul>
            
        </div> -->

    <div class="style-list">

        <!-- Select Product -->
        <div class="category-bar">
            <form action="#">
                <!-- <select id="categories" name="categories" class="select-categiries">
                    <option value="">Select Categories</option>
                    <option value="Tops">Tops</option>
                    <option value="Dresses">Dresses</option>
                    <option value="Jumpsuits">Jumpsuits</option>
                    <option value="Coats">Coats</option>
                </select> -->
                <ng-multiselect-dropdown
                [placeholder]="'Select Categroy'"
                [settings]="dropdownSettings"
                [data]="styleList"
                [(ngModel)]="selectedCategories"
                (onSelect)="shareIndividualCheckedList($event)"
                (onDeSelect)="shareCheckedList($event)"
                *ngIf="routeSegment != 'campaign'" 
                name="category"
            >
            </ng-multiselect-dropdown>
            <ng-multiselect-dropdown
                [placeholder]="'Select Campaign'"
                [settings]="dropdownSettings"
                [data]="CampaignList"
                [(ngModel)]="selectedCampaignList"
                (onSelect)="shareIndividualCheckedListCampaign($event)"
                (onDeSelect)="shareCheckedListcampaign($event)"
                *ngIf="routeSegment === 'campaign'" 
                name="campaign"
            >
            </ng-multiselect-dropdown>
                <!-- <app-multi-select-dropdown [list]="list" class="select-categiries" (shareCheckedList)="shareCheckedList($event)"
                    (shareIndividualCheckedList)="">
                </app-multi-select-dropdown>
                <app-multi-select-dropdown *ngIf="routeSegment == 'campaign'" [list]="list" class="select-categiries" (shareCheckedList)="shareCheckedList($event)"
                    (shareIndividualCheckedList)="shareIndividualCheckedList($event)">
                </app-multi-select-dropdown> -->
            </form>
            
        </div>
        
        <!-- Select Product -->
        <div class="category-right-bar">
            
            <div class="product-search">
                <form class="example" action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search2" (keyup)="onSearchProducts($event)">
                    <button type="submit"><span class="icon-search"></span></button>
                </form>
            </div>
            <div class="btn-group">
                <div ngbDropdown >
                    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownBasic1"
                        ngbDropdownToggle>Sort by : <span class="icon-filter"></span></button>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <ul>
                            <li class="dropdown-item"><a (click)="onFilterProduct('p_popular')">Popular</a></li>
                            <li class="dropdown-item"><a  (click)="onFilterProduct('p_latest')">Latest</a></li>
                            <li class="dropdown-item"><a  (click)="onFilterProduct('p_high')">Price High to Low</a></li>
                            <li class="dropdown-item"><a  (click)="onFilterProduct('p_low')">Price Low to High</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            
                
            
            <!-- <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Sort by : <span class="icon-filter"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul>
                        <li class="dropdown-item"><a href="#">Popular</a></li>
                        <li class="dropdown-item"><a href="#">Latest</a></li>
                        <li class="dropdown-item"><a href="#">Price High to Low</a></li>
                        <li class="dropdown-item"><a href="#">Price Low to High</a></li>
                    </ul>
                </div> -->
        </div>

    </div>
</div>