.datatable-row-detail {
  height: 100px;
  overflow-y: auto;
}
.prd-table {
  margin: 15px 15px 15px 0;
}
.prd-img {
  height: 60px;
}
.mg-top {
  margin-left: -12px;
  margin-top: 23px;
}

.modal-body {
  overflow-x: hidden;
  height: 60vh;
}