<div class="modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span class="icon-close"></span>
      </button>
      <h4 class="modal-title">Change Password?</h4>
      <p>Enter the new password</p>
    </div>
    <div class="modal-body">
      <form
        #resetPassForm="ngForm"
        (ngSubmit)="resetPassForm.form.valid && submit()"
      >
        <div class="container">
          <div class="password-field">
            <span class="icon-lock"></span>
            <input
              type="password"
              name="password"
              placeholder="New Password"
              [(ngModel)]="resetFormObj.password"
              #password="ngModel"
              required
            />
          </div>
          <div
        *ngIf="resetPassForm.submitted || (password.invalid && password.dirty)"
        class="is-invalid fv-plugins-message-container"
      >
        <div *ngIf="password.errors?.required" class="fv-help-block error-block">
          Please Enter Password
        </div>
      </div>
          <div class="password-field">
            <span class="icon-lock"></span>
            <input
              type="password"
              placeholder="Confirm Password"
              [(ngModel)]="resetFormObj.confirm_password"
              name="confirm_passwords"
            (keyup)="confirmPass()"
              required
            />
          </div>
          <div *ngIf="passError" style="color: red;">{{ passError }}</div>
          <button type="submit">Submit</button>
          <button class="back-button" type="submit">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>
