<section class="banner">
    <div class="inner-page-container">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5">
                <div class="banner-content">
                    <div class="banner-text">
                        <h4>New Collections</h4>
                        <h1><span>FASHION</span> Exclusively <br /> only for <span>YOU</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" alt="">Browse Collection</a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>