<div class="modal-content">

    <ng-container>
        <div class="modal-header">
            <div class="modal-title h4" id="example-modal-sizes-title-lg" *ngIf="!customer"> Add Types</div>
            <div class="modal-title h4" id="example-modal-sizes-title-lg" *ngIf="customer"> Edit Types '{{customer.name}}'</div>
        </div>
    </ng-container>
  
    <ng-container>
        <div class="overlay overlay-block cursor-default modal-body">
  
            <form class="form" id="customer_form" #customerForm="ngForm" (ngSubmit)="customerForm.form.valid && submit()">
  
                <div class="row">
  
                    <div class="form-group col-md-12 ">
                        <label>Name</label>
                        <label class="label_required">*</label>
                        <input class="form-control form-control-lg form-control-solid " name="name" type="text" [(ngModel)]="customerFormObj.name" #phoneNumber="ngModel"  autocomplete="off" placeholder="Types Name" />
                    </div>
  
                </div>
  
                <div class="modal-footer">
                    <button class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
                    <button type="submit" id="customer_form" class="btn btn-primary btn-elevate">Save</button>
                </div>
  
            </form>
        </div>
  
    </ng-container>
  </div>