<div style="
                     padding-bottom: 2.5rem !important;
                     ">
                     <div>
                        <div>
                           <table style="
                              width: 100%;
                              ">
                              <thead>
                                 <tr>
                                    <th style="
                                       border-bottom-width: 1px;
                                       padding-top: 1rem;
                                       padding-bottom: 1rem;
                                       vertical-align: bottom;
                                       border-bottom: 2px solid #EBEDF3;
                                       border-top: unset;
                                       font-size: 1rem;
                                       text-align: left;
                                       color: #B5B5C3;
                                       text-transform: uppercase;
                                       font-weight: 500;
                                       "> Ordered Items </th>
                                    <th style="
                                       border-bottom-width: 1px;
                                       padding-top: 1rem;
                                       padding-bottom: 1rem;
                                       vertical-align: bottom;
                                       border-bottom: 2px solid #EBEDF3;
                                       border-top: unset;
                                       font-size: 1rem;
                                       text-align: left;
                                       color: #B5B5C3;
                                       text-transform: uppercase;
                                       font-weight: 500;
                                       "> Group </th>
                                    <th style="
                                       border-bottom-width: 1px;
                                       padding-top: 1rem;
                                       padding-bottom: 1rem;
                                       vertical-align: bottom;
                                       border-bottom: 2px solid #EBEDF3;
                                       border-top: unset;
                                       font-size: 1rem;
                                       text-align: left;
                                       color: #B5B5C3;
                                       text-transform: uppercase;
                                       font-weight: 500;
                                       "> Qty </th>
                                    <th style="
                                       border-bottom-width: 1px;
                                       padding-top: 1rem;
                                       padding-bottom: 1rem;
                                       vertical-align: bottom;
                                       border-bottom: 2px solid #EBEDF3;
                                       border-top: unset;
                                       font-size: 1rem;
                                       text-align: right;
                                       color: #B5B5C3;
                                       text-transform: uppercase;
                                       font-weight: 500;
                                       "> Unit Price </th>
                                    <th style="
                                       border-bottom-width: 1px;
                                       padding-top: 1rem;
                                       padding-bottom: 1rem;
                                       vertical-align: bottom;
                                       border-bottom: 2px solid #EBEDF3;
                                       border-top: unset;
                                       font-size: 1rem;
                                       text-align: right;
                                       color: #B5B5C3;
                                       text-transform: uppercase;
                                       font-weight: 500;
                                       "> Amount </th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td style="
                                       padding: 0.75rem 0.75rem 0.75rem 0;
                                       vertical-align: top;
                                       font-weight: 700;
                                       display: flex;
                                       align-items: center;
                                       color: #3F4254;
                                       ">
                                       <div style="
                                          display: inline-block;
                                          flex-shrink: 0;
                                          position: relative;
                                          border-radius: 0.42rem;
                                          margin-right: 1rem !important;
                                          background-color: #F3F6F9 !important;
                                          width: 40px;
                                          height: 40px;
                                          ">
                                          <div style="background-image: url(&quot;http://192.168.1.157:8042/wwwroot/Uploads/Images/Product/637552054662818700.jpg&quot;);"></div>
                                       </div>
                                       ##PRODUCT_NAME##    
                                    </td>
                                    <td>##PRODUCT_GROUP##</td>
                                    <td style="
                                       color: #3F4254;
                                       font-weight: 700;
                                       "> ##PRODUCT_QTY## </td>
                                    <td style="
                                       color: #3F4254;
                                       font-weight: 700;
                                       text-align: right;
                                       "> $##PRODUCT_UNITPRICE## </td>
                                    <td style="
                                       color: #3699FF;
                                       font-weight: 700;
                                       text-align: right;
                                       "> $ ##PRODUCT_TOTAL## </td>
                                 </tr>
                                 
                                 </tbody>
                           </table>
                        </div>
                     </div>
                  </div>