

<div class="u-row-container" style="padding: 0px;background-color: transparent">
    <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 640px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f5f7f6;">
        <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">

            <div class="u-col u-col-32p97" style="max-width: 320px;min-width: 211px;display: table-cell;vertical-align: top;">
                <div style="width: 100% !important;">
                    <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">

                        <table style="font-family:arial,helvetica,sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;" align="left">

                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td style="padding-right: 0px;padding-left: 0px;" align="center">

                                                    <img align="center" border="0" src="###ProductImage###" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 130px;" width="130" />

                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="u-col u-col-67p03" style="max-width: 320px;min-width: 429px;display: table-cell;vertical-align: top;">
                <div style="width: 100% !important;">
                    <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">

                        <table style="font-family:arial,helvetica,sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td style="overflow-wrap:break-word;word-break:break-word;padding:37px 30px 36px;font-family:arial,helvetica,sans-serif;" align="left">

                                        <div style="color: #000000; line-height: 140%; text-align: left; word-wrap: break-word;">
                                            <p style="font-size: 14px; line-height: 140%;"><span style="color: #444444; font-size: 20px; line-height: 28px;"><strong><span style="line-height: 28px; font-size: 20px;">###ProductName###</span></strong></span></p>
                                            <p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
                                            <p style="font-size: 14px; line-height: 140%;"><span style="color: #444444; font-size: 20px; line-height: 28px;"><strong><span style="line-height: 28px; font-size: 20px;">Color:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;###ProductColor###</span></strong></span></p>
                                            <p style="font-size: 14px; line-height: 140%;"><span style="color: #444444; font-size: 20px; line-height: 28px;"><strong><span style="line-height: 28px; font-size: 20px;">Quantity: &nbsp; &nbsp;###Quantity###</span></strong></span></p>
                                            <p style="font-size: 14px; line-height: 140%;"><span style="color: #444444; font-size: 20px; line-height: 28px;"><strong><span style="line-height: 28px; font-size: 20px;">Subtotal: &nbsp; &nbsp;###Subtotal###</span></strong></span></p>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
