<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Campaigns List</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" (click)="create()">New Campaign</button>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-6" [formGroup]="searchGroup">
              <input type="text" (keyup)="search(searchString)" [(ngModel)]="searchString" class="form-control"
                name="searchText" placeholder="Search" value="" />
              <small class="form-text text-muted"><b>Search</b> by name</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin: Grouping -->
    <ng-container *ngIf="grouping.getSelectedRowsCount()">
      <div class="form">
        <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
          <div class="col-xl-12">
            <div class="form-group form-group-inline">
              <div class="form-label form-label-no-wrap">
                <label class="font-bold font-danger"><span>Selected records count:
                    <b>{{ grouping.getSelectedRowsCount() }}</b></span></label>
              </div>
              <div>
                <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-1"
                  (click)="deleteSelected()">
                  <i class="fa fa-trash"></i> Delete All
                </button>&nbsp;
                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                  (click)="fetchSelected()">
                  <i class="fa fa-stream"></i> Fetch Selected
                </button>&nbsp;
                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                  (click)="updateStatusForSelected()">
                  <i class="fa fa-sync-alt"></i> Update Status
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- end: Grouping -->

    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th *ngFor="let column of Columns">
            {{column.columnName}}
            <app-sort-icon *ngIf="column.canSort" column="{{column.sortProprty}}" [activeColumn]="sorting.column"
              [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let campaign of campaignService.items$ | async">
            <td>{{ campaign.campaignId }}</td>
            <td><img src="{{ campaign.image }}" height="50px" /></td>
            <td>{{ campaign.campaignName }}</td>
            <td width="30%">{{ campaign.description }}</td>
            <!-- <td><a (click)="redirectProduct(campaign);" routerLink="">{{campaign.totalProduct }}</a> </td> -->
            <td class="action-item-centeralign">
              <a title="Edit campaign" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                (click)="edit(campaign)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>

              <a title="Delete campaign" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="delete(campaign.campaignId)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>