<div class="col-md-9 my_account-right-parent">
  <div class="my_account-right">
    <div class="title">
      <h4>Change Password</h4>
    </div>
    <div class="personal-info">
      <form #passwordForm="ngForm" (ngSubmit)="passwordForm.form.valid && submit()">
        <ul>
          <li>
            <input type="password" placeholder="Old Password" name="oldPassword"
              [(ngModel)]="changepasswordForm.oldPassword" #oldPassword="ngModel" required>
              <div *ngIf="passwordForm.submitted ||  (oldPassword.invalid && (oldPassword.dirty))" class="is-invalid fv-plugins-message-container">
                <div *ngIf="oldPassword.errors?.required" class="fv-help-block label_required">
                  Old Password is required.
                </div>
              </div>
          </li>
          
          <li>
            <input type="password" placeholder="New Password" name="newPassword"
              [(ngModel)]="changepasswordForm.newPassword" #newPassword="ngModel" required>
              <div *ngIf="passwordForm.submitted ||  (newPassword.invalid && (newPassword.dirty))" class="is-invalid fv-plugins-message-container">
                <div *ngIf="newPassword.errors?.required" class="fv-help-block label_required">
                  New Password is required.
                </div>
              </div>
          </li>
          <li>
            <input type="password" placeholder="Confirm Password" name="confirmpassword"
              [(ngModel)]="changepasswordForm.confirmPassword" #confirmpassword="ngModel" required>
              <div
                *ngIf="passwordForm.submitted || ((confirmpassword.invalid && (confirmpassword.dirty)) || (changepasswordForm.confirmPassword && (changepasswordForm.confirmPassword != changepasswordForm.newPassword)))"
                class="is-invalid fv-plugins-message-container">
                <div *ngIf="confirmpassword.errors?.required" class="fv-help-block label_required">
                  Confirm Password is required.
                </div>
                <div
                  *ngIf="(!(confirmpassword.errors?.required) && confirmpassword.errors?.pattern) || (changepasswordForm.confirmPassword != changepasswordForm.newPassword)"
                  class="fv-help-block">
                  Passwords do not match
                </div>
              </div>
          </li>
          <div class="save-button"><input type="submit" value="Submit"><span class="icon-next"></span></div>
        </ul>
      </form>

    </div>
  </div>
</div>