<div class="wrapper">

    <section class="thank-you">
      <div class="inner-page-container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Thank you!</h1>
                <h2>Your order has been placed successfully!</h2>
                <span class="icon-thank-you"></span>
                <h4><b>Order Number</b> : 1234567890</h4>
                <p>Thank you for shopping with us! you will receive an order confirmation email shortly.</p>
                <a routerLink="/customer/styles" class="thank-you-button">Continue Shopping<span class="icon-next"></span></a>
            </div>
        </div>
      </div>
    </section>
</div>