<!--begin::Container-->
<div
  [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between footer-text-direction"
>
  <!--begin::Copyright-->
  <div class="text-dark order-2 order-md-1 font-weight-bolder">
    <span class="text-dark-50 font-size-lg font-weight-bolder"
      >{{ currentYear }}&copy;</span
    >
    <a
    routerLink=""
      class="text-dark-75 text-hover-primarys"
      > S.H.Kang</a
    >
  </div>
  <!--end::Copyright-->

  <!--begin::Nav-->
  <!-- <div class="nav nav-dark">
    <a
      href="http://keenthemes.com/metronic"
      target="_blank"
      class="nav-link pl-0 pr-5"
      >About</a
    >
    <a
      href="http://keenthemes.com/metronic"
      target="_blank"
      class="nav-link pl-0 pr-5"
      >Team</a
    >
    <a
      href="http://keenthemes.com/metronic"
      target="_blank"
      class="nav-link pl-0 pr-0"
      >Contact</a
    >
  </div> -->
  <!--end::Nav-->
</div>
<!--end::Container-->
