<div class="login-modal modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          (click)="close()"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span class="icon-close"></span>
        </button>
        <h4 class="modal-title">Forgot Password?</h4>
        <p>
          We will send you an email to<br />
          reset your password.
        </p>
      </div>
      <div class="modal-body">
        <form #forgotpassForm="ngForm" (ngSubmit)="forgotpassForm.form.valid && submit()">
          <div class="container">
            <div class="email-field">
              <span class="icon-login-email"></span>
              <input
                type="text"
                placeholder="Enter Registered Email Address"
                name="emailId"
                [(ngModel)]="forgotpasswordForm.emailId"
                required
                #email="ngModel"
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
              />
            </div>
            <div
            *ngIf="forgotpassForm.submitted || (email.invalid && email.dirty)"
            class="is-invalid fv-plugins-message-container"
          >
            <div *ngIf="email.errors?.required" class="fv-help-block error-block">
              Please Enter Email.
            </div>
            <div *ngIf="!(email.errors?.required) && email.errors?.pattern" class="fv-help-block error-block">
                Please enter valid email address.
              </div>
          </div>
            <button type="submit">Submit</button>
            <button class="back-button" (click)="login()" type="submit">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>