<!--begin::Signin-->
<div class="login-form login-signin">
    <!-- <ng-container *ngIf="errorMsg">
        <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
          <div class="alert-text">{{errorMsg}}</div>
        </div>
      </ng-container> -->
  <!--begin::Form-->
  <form
    class="form fv-plugins-bootstrap fv-plugins-framework"
    #resetPassForm="ngForm"
  >
    <!--being Titel -->
    <h3>Reset Password</h3>

    <!--end::Title-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark">Password</label>
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        name="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="resetFormObj.password"
        #password="ngModel"
        required
        autocomplete="off"
      />
      <div
        *ngIf="
          resetPassForm.submitted ||
          (password.invalid && (password.dirty || password.touched))
        "
        class="is-invalid fv-plugins-message-container"
      >
        <div *ngIf="password.errors?.required" class="fv-help-block">
          Password is required.
        </div>
      </div>
    </div>
    <input type="hidden" name="code" [(ngModel)]="resetFormObj.code" />
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark"
        >Confirm Password</label
      >
      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
        name="confirmpassword"
        placeholder="Confirm Password"
        type="password"
        (keyup)="checkpassword()"
        [(ngModel)]="resetFormObj.confirmpassword"
        #confirmpassword="ngModel"
        required
        autocomplete="off"
      />
      <div
        *ngIf="
          resetPassForm.submitted ||
          (confirmpassword.invalid &&
            (confirmpassword.dirty || confirmpassword.touched))
        "
        class="is-invalid fv-plugins-message-container"
      >
        <div *ngIf="confirmpassword.errors?.required" class="fv-help-block">
          Confirm Password is required.
        </div>
      </div>

      <div *ngIf="confirmPassError" class="fv-help-block mt-2">
        <p style="color: red">{{ confirmPassError }}</p>
      </div>
    </div>

    <!--end::Form group-->

    <!--begin::Action-->
    <div class="pb-lg-0 pb-5">
      <button
        type="button"
        (click)="submit()"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
      >
        Reset Password
      </button>
    </div>
    <!--end::Action-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signin-->
