<footer class="footer">
    <div class="inner-page-container">
            <div class="row footer-content">
                    <div class="col-xs-6 col-sm-3 footer-logo">
                        <img src="assets/images/footer-logo.png"/>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <h4>Quick Links</h4>
                        <div class="footer-links">
                            <ul>
                                <li><a routerLink="customer/home"><span class="square"></span>Home</a></li>
                                <li><a routerLink="aboutus"><span class="square"></span>About us</a></li>
                                <li><a routerLink="customer/styles"><span class="square"></span>Styles</a></li>
                                <li><a routerLink="customer/campaign"><span class="square"></span>Campaign</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <h4>Company</h4>
                        <div class="footer-links">
                            <ul>
                                <li><a routerLink="terms"><span class="square"></span>Terms & Conditions</a></li>
                                <li><a routerLink="privacy"><span class="square"></span>Privacy Policy</a></li>
                                <li><a routerLink=""><span class="square"></span>Returns</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <h4>Mailing Address</h4>
                        <div class="footer-links">
                            <ul>
                                <li><span class="icon-footer-pin"></span>11700 183 Rd St, Artesia, CA 90701</li>
                                <li><span class="icon-footer-call"></span><a href="callto:(+1) 1800 5656 3010">(+1) 1800 5656 3010</a></li>
                                <li><span class="icon-footer-email"></span><a href="mailto:info@sanghakkang.com">info@sanghakkang.com</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
    </div>
    <section>
            <div class="copyright-text">
                &copy; Copyright 2021 <a href="index.html">Sang Hak Kang</a>. | All Rights Reserved.
            </div>
    </section>
</footer>